.container {
    box-sizing: border-box;
    background-color: #fff;
    width: 100vw;
    overflow: hidden;
    height: 80vh;
    padding: 50px 50px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.logoContainer {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.logo {
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: middle;
}

.logoName {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: none;
}

.title {
    color: #246ef3 !important;
    font-weight: bold !important;
    font-size: 50px !important;
}

.subtitle {
    color: #246ef3;
}

.formContainer {
    background-color: #e9ecf1;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.inputField {
    text-align: left;
}

.btnBlue {
    background-color: #246ef3 !important;
    border-radius: 20px;
    color: white;
}

.textBlack {
    color: #212529;
    padding-top: 20px
}

.textPara {
    color: #212529;
    font-size: large;
    padding-left: 20px
}

.description {
    color: #F16255
}

.centerBox {
    display: flex;
    align-items: center;
}